:root {
    --background-section-color: rgba(60, 60, 60, 0.9);
    --border-radius: 1.25rem;
}

body {
    background-color: deepskyblue;
    background-image: url("../images/background.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    margin: 0;
}

header {
    background-color: var(--background-section-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 0.125rem 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
}

header ruby {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

header ruby rt {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
}

header audio {
    margin-left: 1.25rem;
}

main > *{
    background-color: var(--background-section-color);
}

section {
    margin-left: auto;
    margin-right: auto;
    min-width: 25rem;
    max-width: 68%;
    padding: 1.25rem;

    border-radius: var(--border-radius);
    font-family: "Alegreya", serif;
}

section.main-section {
    margin-top: 5rem;
}

article.main-article {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    margin-inline: 0.625rem;
}

.left-side {
    order: 1;
    font-size: 1.25rem;
    width: 60%;
}

.right-side {
    order: 2;
    font-size: 1.5625rem;
    font-family: "Archivo Black", sans-serif;
}

.main-section img {
    max-width: 100%;
    border-radius: calc(var(--border-radius) / 2);
    border: 0.625rem solid black;
}

.right-side blockquote {
    margin-inline: auto;
    text-align: center;
}

.term {
    position: relative;
    cursor: help;
}

.term::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: calc(var(--border-radius) / 3);
    white-space: normal;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    font-size: 0.9em;
    width: 20rem;
}

.term:hover::after {
    opacity: 1;
}

section div.crew-container {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-gutter: stable;
}

section div.crew-container::-webkit-scrollbar {
    height: 0.5rem;
}

section div.crew-container:hover::-webkit-scrollbar {
    height: 0.5rem;
}

section div.crew-container:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.25rem;
}

section h2 {
    text-align: center;
    font-size: 2.5rem;
}

section table.abilities-table {
    width: 100%;
}

section table.abilities-table td {
    width: auto;
    padding: 0.625rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5625rem;
    max-width: 100%;
    white-space:nowrap;
}

section table.abilities-table img {
    width: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-radius) / 2);
}

section table.abilities-table tr:nth-child(1) img {
    width: 50%;
}

section .crew-container td {
    font-size: 1.125rem;
    text-align: center;
}

section .crew-container img {
    border-radius: calc(var(--border-radius) / 2);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

footer p {
    margin: 0;
    font-size: 1.1em;
}

footer p a {
    color: deepskyblue;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer .source {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.8rem;
}

footer .source ul {
    list-style: none;
    margin: 0.25rem 0 0 0;
    padding: 0;
}

footer .source li {
    margin: 0.125rem 0;
}

footer .source a {
    color: yellow;
    text-decoration: none;
}

footer .source a:hover {
    text-decoration: underline;
}